asgiref==3.8.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
Django==4.2.17
easygui==0.98.2
fake-useragent==0.1.11
idna==2.10
lxml==4.6.3
pillow==10.3.0
pygame==1.9.6
pygubu==0.10.3
pyperclip==1.8.2
pyTelegramBotAPI==4.18.1
requests==2.25.1
selenium==3.141.0
soupsieve==2.2.1
sqlparse==0.5.3
telebot==0.0.5
tk==0.1.0
ttkthemes==3.2.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.4
