{% extends "base_generic.html" %}
{% block content %}
<h1>Список книг в БД</h1>
{% if book_list %}
<ul>
    {% for book in book_list %}
    <li>
        <a href="{{ book.get_absolute_url }}">
            {{book.title}}</a>
        ( {{book.genre }} )
    </li>
    {% endfor %}
</ul>
{% else %}
<p>В базе данных нет книг</p>
{% endif %}
<div style="margin-left:20px;
            margin-top:20px;">
    <h4>Количество экземпляров книг в БД</h4>
    {% for copy in book.bookinstance_set.all %}
</div>
{% endfor %}
{% endblock %}